.home-container {
  display: flex;
  flex-direction: row;
  min-height: 500px;
  margin-top: 60px; /* Ajustando a distância superior para o conteúdo */
  padding: 20px;
}


.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0 50px;
}

h1 {
  padding: 20px
}

